.navbar {
  width: 100%;
  height: 100px;
  background-color: #121619;
  display: flex;
  flex-direction: row;
  font-family: fantasy;
  font-size: 1.3vw;
}

.navbar .leftSide {
  flex: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 5%;
}

.navbar .leftSide img {
  width: 10vw;
}
.navbar .rightSide a:nth-child(1){
  border-right: 2px solid white;
}
.navbar .rightSide a:nth-child(2){
  border-right: 2px solid white;
}
.navbar .rightSide a:nth-child(3){
  border-right: 2px solid white;
}
.navbar .rightSide a:nth-child(4){
  border-right: 2px solid white;
}

.navbar .rightSide a:hover{
  background-color: white;
  color: black;
  box-shadow: 0 0 10px white;
  transition: all .5s ease;
}

.navbar .rightSide {
  margin-right: 35%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  
    
}
.navbar .shopping{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5%;
  font-size: 1.8rem;
  

}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 10px;
}

.navbar .rightSide button {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
}
 



.navbar #open {
  padding-left: 0px;
}
.navbar #open img {
  display: none;
}

.navbar #close img {
  display: inherit;
}

.navbar #open .hiddenLinks {
  display: inherit;
  margin-left: 30px;
}

.navbar #close .hiddenLinks {
  display: none;
}

.navbar #open a {
  width: 70px;
  margin: 5px;
}
@media only screen and (max-width: 900px) {
  .navbar .rightSide a {
    width: 70px;
  }
  .navbar .leftSide {
    padding-left: 50px;
  }
}

@media only screen and (max-width: 600px) {
  .navbar .rightSide a {
    display: none;
  }

  .navbar .rightSide {
    justify-content: flex-end;
    padding-right: 50px;
  }

  .navbar .rightSide button {
    display: inherit;
  }
}

@media only screen and (min-width: 600px) {
  .navbar .rightSide button {
    display: none;
  }

  .hiddenLinks {
    display: none;
  }
}
