.navbar {
  width: 100%;
  height: 100px;
  background-color: #121619;
  display: flex;
  flex-direction: row;
  font-family: fantasy;
  font-size:calc(.6rem + .8vw);
}

.navbar .leftSide {
  flex: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 5vw;
}

.navbar .leftSide img {
  width: 10vw;
}

.navbar .rightSide a:hover{
  background-color: white;
  color: black;
  box-shadow: 0 0 10px white;
  transition: all 1s ease;
}

.navbar .rightSide {
  margin-right: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  transition: all 1s ease;
  
    
}
.navbar .shopping{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5%;
  font-size: calc(1rem + 0.5vw);
  

}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 10px;
  transition: all 0.5s ease;
}


@media only screen and (max-width: 900px) {
  
  
  
}

@media only screen and (max-width: 600px) {
  .navbar img {display: none;}
  
  .navbar .rightSide {
    margin-right: 0%;
    
    
      
  }
  

  .navbar .rightSide button {
    display: inherit;
  }
}

@media only screen and (min-width: 600px) {
  

  
}
