.bodyProg {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #000000;
    color: white;
  }
  .progTitle{
    margin-top: 50px;
    padding: 30px 150px;
    border: solid 2px white;
    animation: bordure 2s linear 2s infinite alternate;
  }
  .bodyProg h2{
    display: flex;
    justify-content: center;align-items: center;
    margin: 50px 10vw;
    padding-bottom: 3px;
    border-bottom: 2px solid white;
    font-size: 3vw;
    
  }
  
  
  .programme {
    width: 100vw;
    height: auto;
    
    
  }
  .programmesHomme{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    place-items: center;
    
  }
  .programmesFemme{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    place-items: center;
  }
  .bodyProg h1,
.bodyProg p {
  margin-left: 20px;
}



@media only screen and (max-width: 800px) {
  .programmesHomme{
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    
  }
  .programmesFemme{
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
  }
  .programme .Item{
    width: 90%;
    height: auto;
    
  }
  .bodyProg h2{
    display: flex;
    justify-content: center;align-items: center;
    margin: 50px 0vw;
    padding-bottom: 3px;
    border-bottom: 2px solid white;
    font-size: 4vw;
    
  }
  .progTitle{
    margin-top: 50px;
    padding: 20px ;
    border: solid 2px white;
    animation: bordure 2s linear 2s infinite alternate;
  }
}

@keyframes bordure {
  0%   {box-shadow: 0 0 10px white;}
  
  
  100% {box-shadow: 0 0 10px rgba(255, 255, 255, 0);}
}